@import url('variables/global.css');
@import url('reset.css');
@import url('theme/dark.css');
@import url('theme/light.css');

.app {
  font: var(--font-m);
  min-height: 100dvh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.main {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
